{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>index</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
  </head>

<body>
    <div class="header_one" style="    height: 60px;  ">
      <!-- Default Searchbar -->
  <!--<div style="width: 81%; display: block; float: left; padding-left: 21px;"></div>-->
  <form>
    <input type="search" class="search_top" placeholder="Search...">
  </form>
  
    </div>
    
    {% if criticas %}
    {% for critica in criticas %}


    <div class="book_rating"  >
      
      {% if utilizadores %}

      {% for utl in utilizadores %}
      {% if utl.id_utilizador == critica.id_utilizador %}
      <div class="user_rating">
  
      <div class="profile_img" style="display: block; float: left; height: 35px; width: 35px; border-radius: 50%;">
  
      <img  style=" height: 35px; width: 35px;border-radius: 50%;"  src="{{utilizador.ref_foto}}" >


      </div>

    <div class=user_name_rate>
  
    <h5>{{utl.nome_utilizador}}&nbsp;&nbsp;<span> rated with</span></h5>
  
   
    {% if critica.classif == 5%}

    <div class="rate" >
      <input type="radio" id="star5" name="rate" value="5" />
      <label for="star5" title="text">5 stars</label>
      <input type="radio" id="star4" name="rate" value="4" />
      <label for="star4" title="text">4 stars</label>
      <input type="radio" id="star3" name="rate" value="3" />
      <label for="star3" title="text">3 stars</label>
      <input type="radio" id="star2" name="rate" value="2" />
      <label for="star2" title="text">2 stars</label>
      <input type="radio" id="star1" name="rate" value="1" />
      <label for="star1" title="text">1 star</label>
    </div>
    {% endif %}

    {% if critica.classif == 4%}

    <div class="rate" >
  
      <input type="radio" id="star4" name="rate" value="4" />
      <label for="star4" title="text">4 stars</label>
      <input type="radio" id="star3" name="rate" value="3" />
      <label for="star3" title="text">3 stars</label>
      <input type="radio" id="star2" name="rate" value="2" />
      <label for="star2" title="text">2 stars</label>
      <input type="radio" id="star1" name="rate" value="1" />
      <label for="star1" title="text">1 star</label>
    </div>
    {% endif %}


    {% if critica.classif == 3%}

    <div class="rate" >
    
      <input type="radio" id="star3" name="rate" value="3" />
      <label for="star3" title="text">3 stars</label>
      <input type="radio" id="star2" name="rate" value="2" />
      <label for="star2" title="text">2 stars</label>
      <input type="radio" id="star1" name="rate" value="1" />
      <label for="star1" title="text">1 star</label>
    </div>
    {% endif %}


    {% if critica.classif == 2%}

    <div class="rate" >

      <input type="radio" id="star2" name="rate" value="2" />
      <label for="star2" title="text">2 stars</label>
      <input type="radio" id="star1" name="rate" value="1" />
      <label for="star1" title="text">1 star</label>
    </div>
    {% endif %}


    {% if critica.classif == 1%}

    <div class="rate" >
 
      <input type="radio" id="star1" name="rate" value="1" />
      <label for="star1" title="text">1 star</label>
    </div>
    {% endif %}

    
    
    <br>
    <!--<p>Thursday at 23:40</p> -->
  </div>
  

  {% endif %}
  {% endfor %}
  {% endif %}

  {% if livros %}
  {% for livro in livros %}
       {% if livro.id_livro == critica.id_livro %}

    <div class="book_info">
    
      <a href ="{% url 'livro' critica.id_livro %}">
    
    <img class="book_img" style="display: block; float: left;"   src="{{livro.ref_foto}}" >

    </a>
  
    <div class="text_book">
      <h5>{{livro.titulo}}</h5>
      <h6>{{livro.autor}}</h6>
    


      <a href ="{% url 'livro' critica.id_livro %}">

      <button class="want_read_button" >
       
         want to read<span> </span> 
      </button>
  
    </a>

    </div>
  </div>

  
  {% endif %}
  {% endfor %}
  {% endif %}

  <div style="height: 22px;"></div>


  <form method="post">
    {% csrf_token %}
    {{ form}}
    <input type="image" value="Submit" style="width: 20px; height: 20px; padding-left:2px" src="{% static 'images/heart.png' %}">
  </form>

  
  
  <input type="image" 
  
    style="width: 20px; height: 20px; " src="{% static 'images/msg_Dd.png' %}">
  
  
  <div class="text_comment">
    {{critica.texto}}
  </div>

  <a href="{% url 'livro' "livro.id_livro" %}"></a>
  <div class="bottom_review">
  <h6>{{critica.num_gostos}} likes</h6>
  

  <a href ="{% url 'critica_comp' critica.id_critica %}">

  <h5 ><u>See all comments</u> </h5>

  </a>

  </div>
    </div>
  </div>



    {% endfor %}
    {% endif %}
    

  <br>
    <div class="footer_pages">
      <div class="line"></div>
      
      <input type="image" class="button_foot"
  
      style="width: 25px; height: 25px; " src="{% static 'images/home.png' %}">


      <input type="image" class="button_foot"
  
      style="width: 25px; height: 25px; " src="{% static 'images/catalog.png' %}">

    <input type="image" class="button_foot"
  
      style="width: 25px; height: 25px; " src="{% static 'images/search.png' %}">
  
      <input type="image" class="button_foot" 
  
      style="width: 25px; height: 25px; border-radius: 50%;" src="{% static 'images/asuka.jpg' %}">
  

        
      
    </div>
  
  
  </body>
    </html>
  